
<p><%= flash[:notice] %></p>
<p>
  <strong>Name list:</strong>
  <%= @list.name_list %>
</p>
<p>
  <strong>Tasks:</strong><br>
  <ul class="unstyled sort tasks-container" id="tasks" data-list-id="<%= @list.id %>">
    <%= render partial: "shared/task", collection: @list.tasks %>
  </ul>
</p>
<br>
<%= link_to 'Back', lists_path %>
| <%= link_to 'Edit list', edit_list_path(@list) %> 
<!-- O link_to só aceita paths como parâmetros e caso os paths precisem de parâmetros devem ser passados como abaixo seprados por vírgulas -->
| <%= link_to 'New Task', new_list_task_path(@list) %>
