<%= form_for @list do |f| %>

  <h1> <%= @action %> a list</h1> 

  <% if @list.errors.any? %>
    <div id="errorExplanation">
      <h2><%= pluralize(@list.errors.count, "error") %> 
        prohibited this list from being saved:
      </h2>
      <ul>
        <% @list.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.text_field :name_list, autofocus: true, :placeholder => "Name list" %>
    <br />
    <%= f.submit :Save %>
  </p>
  <%= link_to 'Back', lists_path %>
<% end %>

