<h1> Creating a list</h1>

<%= form_for :list, url: list_index_path, method: :post do |f| %>





<%- flash.each do |key, msg| -%>
  <div id="<%= key %>">
    <p style="float:right;"><%= link_to_function 'X', "Effect.Fade('#{key}')" %></p>
    <p><%= msg %></p>
    <div class="clear"></div>
  </div>
<%- end -%>

  <p>
    <%= f.label :name_list %><br>
    <%= f.text_field :name_list %><br>
  </p>
 
  <p>
   <%= f.label :item1 %><br>
    <%= f.text_field :item1 %><br>
    <%= f.label :item2 %><br>
    <%= f.text_field :item2 %><br>
    <%= f.label :item3 %><br>
    <%= f.text_field :item3 %>
  </p>
 
  <p>
    <%= f.submit :save_list %>
  </p>
<% end %>


<%= link_to 'Back', list_index_path %>