<!DOCTYPE html>
<html>
<head>
  <title>TodoList</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <header>
      <div class="navbar">
        <div class="navbar-inner">
          <%= link_to "To do list", lists_path , class: "brand" %>
          <ul class="nav">
            <li><%= link_to 'New list', new_list_path %></li>
          </ul>
        </div>
      </div>
    </header>

    <%- flash.each do |key, msg| -%>
      <div id="<%= key %>">
        <p style="float:right;"><%= link_to_function 'X', "Effect.Fade('#{key}')" %></p>
        <p><%= msg %></p>
        <div class="clear"></div>
      </div>
    <%- end -%>
    <div class="content">
      <%= yield %>
    </div>
  </div>
</body>
</html>
