<!DOCTYPE html>
<html>
<head>
  <title>TodoList</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="<%= asset_path "bootstrap-responsive.css" %>">
  <link rel="stylesheet" href="<%= asset_path "bootstrap.css" %>"> 
  <link rel="stylesheet" href="<%= asset_path "stylesheet.css" %>"> 
  <!-- Latest compiled and minified JavaScript -->
  <script type="text/javascript" src="<%= asset_path "bootstrap.js" %>" </script>
  <script type="text/javascript" src="../../assets/javascripts/jquery-1.10.2.js"></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <header>
      <div class="navbar">
        <div class="navbar-inner">
          <a class="brand" href="#"> To do </a>
          <ul class="nav">
            <li class=""><%= link_to "My lists", list_index_path %> </li>
            <li><%= link_to 'New list', new_list_path %></li>
          </ul>
        </div>
      </div>
      <!-- <h1><%= link_to "TodoList", root_path %></h1> -->
    </header>
    <div class="content">
      <%= yield %>
    </div>
  </div>
</body>
</html>
